{% extends "couchpotato/base.html" %}

{% block couchpotato_menu %}
<ul class="menu">
  <li class="history" title="View History"><span>History</span></li>
  <li class="all active" title="View all"><span>All</span></li>
  <li class="wanted" title="View wanted"><span>Wanted</span></li>
</ul>
{% endblock %}

{% block couchpotato_content %}

<div id="all" class="noscroll">
  {% for item in couchpotato.movies %}
    <div class="movie" id="{{item.identifiers.imdb}}" data-cpid="{{item._id}}">
      <div class="{{item.releases.status}}"></div>
      <img class="poster"
      src="
        {% if item.files.image_poster.0 %}
            {{item.files.image_poster.0|cp_img}}
          {% else %}
            {{ url_for('static', filename='images/poster.png') }}
          {% endif %}
        "
      />
      <span class="title text">{{item.title}} ({{item.info.year}})</span>
      {% if item.info.rating %}<span class="rating text">Rating: {{item.info.rating.imdb.0}}</span>{% endif %}
      <span class="profile" title="CouchPotato quality profile">{{item.profile_label}}</span>
    </div>
  {% endfor %}
</div>

{% endblock %}
