{% extends "couchpotato/base.html" %}

{% block couchpotato_content %}
{% if couchpotato['success'] %}
  {% set info = couchpotato['media']['library']['info'] %}
  <div id="info" class="{{couchpotato['media']['status']['identifier']}} noscroll">
    <div class="left_content">
      <div class="options" data-imdbid="{{info.imdb}}" data-cpid="{{couchpotato.media.id}}">
        <img class="delete" src="{{ url_for('static', filename='images/no.png')}}" title="Delete"/>
        <img class="search" src="{{ url_for('static', filename='images/search.png')}}" title="Refresh"/>
        <a href="http://imdb.com/title/{{info.imdb}}" target="_blank">
          <img src="{{ url_for('static', filename='images/imdb.png')}}" title="IMDB" />
        </a>
      </div>
      <img src="{{info['images']['poster'][0]}}" alt="poster">
    </div>
    <div class="right_content">
      <h2>{{ couchpotato['media']['library']['info']['original_title'] }}</h2>
      <table border="0">
        {% if info['year'] %}
        <tr>
          <td width="75" style="font-weight:bold;" align="right">Year:&nbsp;&nbsp;</td>
          <td style="font-size: 0.95em;">{{info['year']}}</td>
        </tr>
        {% endif %}
        {% if info['rating'] and info['rating']['imdb'] %}
        <tr>
          <td width="75" style="font-weight:bold;" align="right">Rating:&nbsp;&nbsp;</td>
          <td style="font-size: 0.95em;">{{info['rating']['imdb'][0]}}/10 ({{info['rating']['imdb'][1]}} votes)</td>
        </tr>
        {% endif %}
        {% if info['genres'] %}
        <tr>
          <td width="75" style="font-weight:bold;" align="right">Genres:&nbsp;&nbsp;</td>
          <td style="font-size: 0.95em;">{% for genre in info['genres'] %} {{genre}} {%if not loop.last%}|{%endif%} {% endfor %}</td>
        </tr>
        {% endif %}
        {% if info['release_date']['dvd'] %}
        <tr>
          <td width="75" style="font-weight: bold;" align="right">DVD:&nbsp;&nbsp;</td>
          <td style="font-size:0.95em;">{{info['release_date']['dvd']|time}}</td>
        </tr>
        {% endif %}
        {% if info['released'] %}
        <tr>
          <td width="75" style="font-weight: bold;" align="right">Theater:&nbsp;&nbsp;</td>
          <td style="font-size:0.95em;">{{info['released']}}</td>
        </tr>
        {% endif %}
        {% if info['writers'] %}
        <tr>
          <td width="75" style="font-weight: bold;" align="right">Writers:&nbsp;&nbsp;</td>
          <td style="font-size:0.95em;">{%for writer in info['writers']%} {{writer}}{%if not loop.last%},{%endif%} {%endfor%}</td>
        </tr>
        {% endif %}
        {% if info['directors'] %}
        <tr>
          <td width="75" style="font-weight: bold;" align="right">Directors:&nbsp;&nbsp;</td>
          <td style="font-size:0.95em;">{%for director in info['directors']%} {{director}}{%if not loop.last%},{%endif%} {%endfor%}</td>
        </tr>
        {% endif %}
        {% if info['actors'] %}
        <tr>
          <td width="75" style="font-weight: bold;" align="right">Actors:&nbsp;&nbsp;</td>
          <td style="font-size:0.95em;">{%for actor in info['actors']%} {{actor}}{%if not loop.last%},{%endif%} {%endfor%}</td>
        </tr>
        {% endif %}
        {% if info['runtime'] %}
        <tr>
          <td width="75" style="font-weight: bold;" align="right">Runtime:&nbsp;&nbsp;</td>
          <td style="font-size:0.95em;">{{info['runtime']}}</td>
        </tr>
        {% endif %}
        <tr>
          <td width="75" style="font-weight: bold;" align="right">Profile:&nbsp;&nbsp;</td>
          <td style="font-size:0.95em;" class="profile">
            {% if profiles %}
              <select class="profiles" data-id="{{couchpotato.media.id}}">
                {% for profile in profiles.list %}
                  <option value="{{profile.id}}" {% if couchpotato['media']['profile']['label'] == profile.label %}selected="selected"{%endif%}>{{profile.label}}</option>
                {% endfor %}
              </select>
            {% else %}
              {{couchpotato['media']['profile']['label']}}
            {% endif %}
          </td>
        </tr>
      </table>
    </div>
    {% if info['plot'] %}
    <p style="clear: both;">
      <br /><span style="font-weight:bold;">Plot:</span>
      <br /><span style="font-size: 0.950em;">{{info['plot']}}</span>
    </p>
    {% endif %}
  </div>
{% else %}
<div id="error">
  <p>An error ocurred</p>
</div>
{%endif%}
{% endblock %}
