<!DOCTYPE html>
<html>

  <head>
    <title>Maraschino Mobile Library Browser</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/static/images/favicon.ico" sizes="64x64" type="image/x-icon">
    <link rel="apple-touch-icon" href="/static/images/favicon.ico" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet/less" href="/static/less/mobile/mobile.less">
    <link rel="stylesheet" href="/static/less/mobile/lib/jquery.mobile.min.css">

    <!-- JS frameworks -->
    <script src="/static/js/lib/less.js" type="text/javascript"></script>
    <script src="/static/js/lib/jquery.js"></script>
    <script src="/static/js/lib/jquery.mobile.min.js"></script>

    <script>
      function destroyLessCache(pathToCss) {
        if (!window.localStorage || !less) {
          return;
        }
        var host = window.location.host;
        var protocol = window.location.protocol;
        var keyPrefix = protocol + '//' + host + pathToCss;
        for (var key in window.localStorage) {
          if (key.indexOf(keyPrefix) === 0) {
            delete window.localStorage[key];
          }
        }
      }
      destroyLessCache('/static/less/');
    </script>
  </head>

  <body>

    <div data-role="page" data-add-back-btn="true">

      <div id="site_header" data-role="header" data-position="fixed">

        <a class="logo" href="/" data-ajax="false"><img src="/static/images/mobile/maraschino_logo.png" alt="Maraschino logo"></a>

        {% block header %}<h1>Maraschino</h1>{% endblock %}

        <div data-role="navbar">
	  <ul id="header_controls">
	    <li><a class="control stop" data-command="stop" href="#"><span class="icon">Stop</span></a></li>
	    <li><a class="control play_pause" data-command="play_pause" href="#"><span class="icon">Play / Pause</span></a></li>
	  </ul>
        </div>

      </div>

      <div data-role="content">
        {% block content %}{% endblock %}
      </div>

    </div>

    <script src="/static/js/mobile/mobile.js"></script>

  </body>

</html>
