{% extends "/xbmcmm/modals/template.html" %}
{% block modal_title %}fanart.tv{% endblock %}
{% block modal_content %}
	<div class="modal_images span5">
		{% if images %}
			{% for image in images %}
				<a href="#" class="thumbnail span2">
      		<img src="{{ images[image]['local'] }}" data-url="{{ images[image]['url'] }}" data-type="{{ type }}"alt="">
    		</a>
			{% endfor %}
		{% else %}
		<p>No images were found on fanart.tv</p>
		{% endif %}
	</div>
{% endblock %}
{% block modal_footer %}
{% endblock %}

