{% extends "/xbmcmm/modals/template.html" %}
{% block modal_title %}TVDB Images{% endblock %}
{% block modal_content %}

  <div class="modal_images span5">
    {% if show and show['_banners'] %}
      {% if img_type == 'fanart' %}
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
          {% for size in show['_banners']['fanart']|reverse %}
            <li {% if size|str == '1920x1080' %}class="active"{% endif %}>
              <a href="#{{ size }}" data-toggle="tab">{{ size }}</a>
            </li>
          {% endfor %}
        </ul>

        <div id="my-tab-content" class="tab-content">
          {% for size in show['_banners']['fanart']|reverse %}
            <div class="tab-pane {{ 'active' if size|str == '1920x1080' }}" id="{{ size }}">
              {% for image in show['_banners']['fanart'][size|str] %}
                <a href="#" class="thumbnail span2">
                  <img 
                    src="{{ show['_banners']['fanart'][size|str][image]['localpath'] }}"
                    data-url="{{ show['_banners']['fanart'][size|str][image]['_bannerpath'] }}"
                    data-type="fanart"
                    alt=""
                  >
                </a>
              {% endfor %}
            </div>
          {% endfor %}
        </div>

      {% elif img_type == 'poster' %}
        {% for size in show['_banners']['poster'] %}
          <div class="span5"><h3>{{ size }}</h3></div>
          {% for image in show['_banners']['poster'][size|str] %}
            <a href="#" class="thumbnail span2">
              <img 
                src="{{ show['_banners']['poster'][size|str][image|str]['localpath'] }}"
                data-url="{{ show['_banners']['poster'][size|str][image|str]['_bannerpath'] }}"
                data-type="poster"
                alt=""
              >
            </a>
          {% endfor %}
        {% endfor %}

      {% else %}
        {% for type in show['_banners']['series'] %}
          <div class="span5"><h3>{{ type }}</h3></div>
          {% for image in show['_banners']['series'][type] %}
            <a href="#" class="thumbnail span2">
              <img 
                src="{{ show['_banners']['series'][type][image|str]['localpath'] }}"
                data-url="{{ show['_banners']['series'][type][image|str]['_bannerpath'] }}"
                data-type="banner"
                alt=""
              >
            </a>
          {% endfor %}
        {% endfor %}
      {% endif %}
    {% endif %}
  </div>

{% endblock %}
{% block modal_footer %}
{% endblock %}

