{% extends "mobile/xbmc/xbmc.html" %}

{% block header %}<h1>Season {{season}}</h1>{% endblock %}

{% block content %}

<ul id="season" data-role="listview">
  {% for episode in episodes %}
      <li data-icon="{{ 'check' if episode.playcount else 'false' }}" >
        <a class="inner play" href="#" data-tvshowid="{{ episode.tvshowid }}" data-episodeid="{{ episode.episodeid }}">
            <h2>{{episode.label}}</h2>
        </a>
        <a
            href="{{ url_for('episode_info', id=episode.episodeid) }}"
            data-rel="dialog"
            data-transition="flip"
            data-theme="a"
            data-icon="info"
        >
            Info
        </a>
      </li>
  {% endfor %}
</ul>

{% endblock %}
