{% extends "mobile/xbmc/xbmc.html" %}

{% block header %}<h1>TV Shows</h1>{% endblock %}

{% block content %}

<ul id="tv_library" data-role="listview" data-filter="true">
  {% for show in TV %}
      <li data-icon="{{ 'check' if show.tvshowcount else 'false' }}" >
        <a class="inner banner" href="{{ url_for('tvshow', id=show.tvshowid) }}" data-tvshowid="{{ show.tvshowid }}">
            <!-- <div class="thumb"><img src="{{ show.thumbnail|xbmc_image }}"></div> -->
            <h2>{{show.label}}</h2>
        </a>
        <a
            href="{{ url_for('tvshow_info', id=show.tvshowid) }}"
            data-rel="dialog"
            data-transition="flip"
            data-theme="a"
            data-icon="info"
        >
            Info
        </a>
      </li>
  {% endfor %}
</ul>

{% endblock %}
