{% extends "mobile/base.html" %}

{% block header %}<h1>XBMC</h1>{% endblock %}

{% block navbar %}
  <div data-role="navbar">
    <ul id="header_controls">
      <li><a class="control stop" data-command="stop" href="#"><span class="icon">Stop</span></a></li>
      <li><a class="control play_pause" data-command="play_pause" href="#"><span class="icon">Play / Pause</span></a></li>
    </ul>
  </div>
{% endblock %}

{% block content %}

<ul data-role="listview">
  {% for module in available_modules %}
    {% if module.name == 'recently_added' %}
      <li><a href="{{ webroot }}/mobile/recent_episodes/">Recently added episodes</a></li>
    {% endif %}
    {% if module.name == 'recently_added_movies' %}
      <li><a href="{{ webroot }}/mobile/recent_movies/">Recently added movies</a></li>
    {% endif %}
    {% if module.name == 'recently_added_albums' %}
      <li><a href="{{ webroot }}/mobile/recent_albums/">Recently added albums</a></li>
    {% endif %}
    {% if module.name == 'library' %}
      <li><a href="{{ webroot }}/mobile/movie_library/">Movies</a></li>
      <li><a href="{{ webroot }}/mobile/tv_library/">TV Shows</a></li>
    {% endif %}
  {% endfor %}
</ul>

{% endblock %}
