@import "mixins.less";

#search
{
  position: absolute;
  top: 10px;
  width: 95%;
  z-index: 1;
  margin: auto;
  
  &.hide {
    opacity: 0;
  }

  form {
    padding: 5px;
    
    input {
      width: 50%;
    }
  }

  #results {
    width: 100%;
    
    table {    
      width: 100%;
      
      .icon {
        width: 2%;
      }
      .name {
        width: 70%;
      }
      .size {
        width: 10%;
      }
      .category {
        width: 10%;
      }

      thead {
        width: 100%;
        tr {
        
          th {
            cursor: pointer;
          }
        }
      }
    
      tbody {
        width: 100%;
        height: 500px;
        overflow: auto;
      
        tr {
          &:hover {
            background: url(/static/images/alpha/fff_20.png);
          }

          td {
            position: relative;
            background: url(/static/images/alpha/fff_10.png);
            border: 1px solid #222;
            line-height: 1.3em;
            margin-top: 5px;
            padding: 5px 15px;

            .border-radius(4px);
        
            &:first-child {
              cursor: pointer;
              padding: 2px;
              margin: auto;
              img {
                vertical-align: middle;
              }
            }

            .xhrloading {
              position: absolute;
              right: 5px;
              top: 6px;
            }
          }
        }
      }    
    }
  }
}

.f_settings_mode #search
{
  opacity: 1;
  position: static;
}
