@import "mixins.less";

#weather
{

  table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }

  p {
    margin-left: 54px;
  }

  img {
    position: absolute;
    height: 50px;
    width: 50px;
  }

  td {
    padding-right: 5px;
    padding-bottom: 8px;
  }

  .current {
    vertical-align: middle;
    padding-right: 30px;
  }

}

