@import "mixins.less";

#sickbeard {

  .menu {
    .history span {
      background-image: url(/static/images/history.png);
    }
    .all {
      text-indent: 0;
    }
    .upcoming span  {
      background-image: url(/static/images/coming.png);
    }
  }

  #content {
    max-height: 270px;
    overflow: auto;
  }

  h3 {
    margin: 15px;
  }

  #soon h3 {
    margin-top: 5px;
  }

  .coming_ep {
    width: 100%;
    position: relative;
    overflow: hidden;

    h2 {
      position: absolute;
      top: 0;
      max-width: 70%;
      left: 0;
      color: white;
      font: bold 10px/12px Arial;
      background: rgb(0, 0, 0); /* fallback color */
      background: rgba(0, 0, 0, 0.5);
      padding: 5px 5px 5px 15px;

      a:hover {
        background: rgba(0, 0, 0, 0.2);
      }
    }

    .options {
      position: absolute;
      top: 0;
      right: 0;
      width: 45px;
      height: 19px;
      background: rgb(0, 0, 0); /* fallback color */
      background: rgba(0, 0, 0, 0.5);
      padding: 5px;

      img {
        cursor: pointer;
        width: 15px;
        padding: 2.5px;
      }
    }

    .details {
      bottom: 0;
      display: none;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;

      .airs {
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgb(0, 0, 0); /* fallback color */
        background: rgba(0, 0, 0, 0.5);
        padding: 5px 5px 5px 15px;
      }

      .plot,
      .plot-title {
        position: absolute;
        bottom: 0;
        right: 0;
        background: rgb(0, 0, 0); /* fallback color */
        background: rgba(0, 0, 0, 0.5);
        padding: 5px 15px 5px 5px;

        &:hover {
          cursor: pointer;
        }
      }

      .plot {
        display: none;
        line-height: 1.2em;
        top: 0;
        background: rgba(0, 0, 0, 0.9);
        padding-left: 15px;

        p {
          margin-top: 5px;
        }
      }
    }
  }

  #sickbeard-list
  {
    ul {
      overflow: auto;
      width: 100%;
      text-align: center;
      overflow: hidden;
    }
    li,
    .back{
      background: url(/static/images/alpha/fff_10.png);
      border: 1px solid #222;
      cursor: pointer;
      line-height: 1.5em;
      margin-top: 5px;
      padding: 5px 5px;

      .border-radius(4px);

      &:hover {
        background: url(/static/images/alpha/fff_20.png);
      }
    }

    li {
      position: relative;

      &:first-child {
        margin-top: 0;
      }

      .xhrloading {
        position: absolute;
        right: 5px;
        top: 6px;
      }

      .show-image{
        left: 10px;
        position: absolute;
        height: 20px;
      }

      .show-name{
        text-align: center;
      }

    .hd-image {
        right: 10px;
      position: absolute;
      }
    }
  }

  #content >#show{
    ul {
      width: 100%;
      text-align: center;
      overflow: hidden;
    }
    li {
      background: url(/static/images/alpha/fff_10.png);
      border: 1px solid #222;
      cursor: pointer;
      line-height: 1.5em;
      margin-top: 5px;
      padding: 5px 15px;

      .border-radius(4px);

      &:hover {
        background: url(/static/images/alpha/fff_20.png);
      }
    }

    >.sb-back{
      background: url(/static/images/alpha/fff_10.png);
      cursor: pointer;
      line-height: 1.3em;
      margin-top: 5px;
      padding: 5px 15px;
      .border-radius(4px);
      right: 5px;
      top: 12px;
      position: absolute;
      color: #ccc;
      font-size: 1.2em;
      height: 17px;

      &:hover{
        background: url(/static/images/alpha/fff_20.png);
      }
    }
    li {
      position: relative;

      &:first-child {
        margin-top: 0;
      }

      .xhrloading {
        position: absolute;
        right: 5px;
        top: 6px;
      }
    }

    div.banner{
      width: 100%;
      position: relative;
      overflow: hidden;

      img{
        width: 100%;
      }

      h2{
        top: 0;
        max-width: 70%;
        left: 0;
        font: bold 18px/20px Arial;

        a:hover {
          background: rgba(0, 0, 0, 0.2);
        }
      }

      h2, p {
        position: absolute;
        color: white;
        background: rgb(0, 0, 0); /* fallback color */
        background: rgba(0, 0, 0, 0.5);
        padding: 5px;
      }

      p {
        font: bold 10px/14px Arial;
      }

      p.airtime {
        bottom: 0;
        right: 0;
      }
      p.quality {
        right: 0;
        top: 0;
      }
      p.genre {
        left: 0;
        bottom: 0;
      }
    }
  }
  #missed {
    cursor: pointer;
    position:absolute;
    top: -10px;
    left: -10px;
    background-color: red;
    background-position: 0 0;
    width: 25px;
    height: 25px;
    color: white;
    font-weight: bold;
    font-size:1.5em;
    line-height: 25px;
    border-radius:30px;
    box-shadow:1px 1px 1px gray;
    border-color: white;
    border-width: thick;
    b{
      margin: 7px;
    }
  }

  .missed {
    display: none;
  }

  table#season {
    table-layout: fixed;
    width: 100%;
    text-align: center;
  }

  div.history {
    max-height: 300px;
    width: 100%;

    ul {
      width: 100%;
      text-align: center;
      overflow: hidden;

    	&.Snatched{
    		display: none;
    	}
      li {
        background: url(/static/images/alpha/fff_10.png);
        border: 1px solid #222;
        line-height: 1.5em;
        margin-top: 5px;
        padding: 5px 5px;
        position: relative;

        .border-radius(4px);

        &:first-child {
          margin-top: 0;
        }

        &:hover {
          background: url(/static/images/alpha/fff_20.png);
        }

        .xhrloading {
          position: absolute;
          right: 5px;
          top: 6px;
        }

        img {
          left: 10px;
          position: absolute;
          height: 20px;
        }

        .name{
          text-align: center;
        }

        .status {
          right: 10px;
          position: absolute;
        }

        .extra-info {
          display: none;
          position: absolute;
          bottom: 0;
          left: 0;
          background: rgb(0, 0, 0); /* fallback color */
          background: rgb(0, 0, 0);
          padding: 5px;
          font-size: xx-small;
        }
      }

    	&.toggle {
    		position: absolute;
    		top: 12px;
    		right: 5px;
    		width: 15%;
        line-height: 1.3em;
        padding: 5px 5px;
        .border-radius(4px);
    	}
    }
  }

  .episode-list{
     > .back{
      background: url(/static/images/alpha/fff_10.png);
      cursor: pointer;
      line-height: 1.3em;
      margin-top: 5px;
      padding: 5px 15px;
      .border-radius(4px);
      right: 5px;
      top: 12px;
      position: absolute;
      color: #ccc;
      font-size: 1.2em;
      height: 17px;

      &:hover{
        background: url(/static/images/alpha/fff_20.png);
      }
    }

    .tablesorter {
    	table-layout: fixed;
    	width: 100%;
  	  .ep {
    		width: 5%;
    	}
    	.name {
    		width: 45%;
    	}
    	.status {
    		width: 20%;
    	}
    	.airdate {
    		width: 20%;
    	}
    	.quality {
    		width: 10%;
    	}
    	thead th {
    		cursor: pointer;
    	}
    	tbody tr {
        color: white;
	      background: url(/static/images/alpha/fff_10.png);
        padding: 5px;

        &:hover {
          background: url(/static/images/alpha/fff_20.png);
        }

    	  td {
    	  	overflow: hidden;
    	  	white-space: nowrap;
    	  }
    	}
    }
  }

  .episode-info {
      > .back {
      background: url(/static/images/alpha/fff_10.png);
      cursor: pointer;
      line-height: 1.3em;
      margin-top: 5px;
      padding: 5px 15px;
      .border-radius(4px);
      right: 5px;
      top: 12px;
      position: absolute;
      color: #ccc;
      font-size: 1.2em;
      height: 17px;

      &:hover{
        background: url(/static/images/alpha/fff_20.png);
      }
    }
  }
}
