@import "mixins.less";

#recently_added .problem
{
  margin: -7px 15px 15px;
}


#recently_added .recentvidtitle
{
  margin-bottom: -11px;
}


.expand
{
  text-decoration: none;
}


.view_older_episodes,
.view_newer_episodes,
.view_older_movies,
.view_newer_movies
{
  background: url(/static/images/alpha/fff_10.png);
  border: 1px solid #222;
  color: #ccc;
  display: inline;
  font-size: 1.2em;
  margin-top: 5px;
  padding: 2px 14px;
  position: absolute;
  top: 4px;
  right: 50px;
  text-align: center;
  cursor: pointer;

  .border-radius(4px);
  
  &:hover {
    background: url(/static/images/alpha/fff_20.png);
  }
}

.view_older_episodes,
.view_older_movies
{
  right: 10px;
}
