@import "mixins.less";

#sabnzbd
{
  position: relative;

  > .inner {
    line-height: 1.3em;
    padding: 0 15px 15px;
  }
  
  .inner {
    #status {
      background: url(/static/images/alpha/fff_10.png);
      border: 1px solid #222;
      padding: 4px 8px 2px;
      position: absolute;
      right: 40%;
      top: 14px;
      cursor: pointer;

      .border-radius(4px);
    
      &:hover {
        background: url(/static/images/alpha/fff_20.png);
      }
    }
    
    .speed {
      background: url(/static/images/alpha/fff_10.png);
      border: 1px solid #222;
      padding: 4px 8px 2px;
      position: absolute;
      right: 20px;
      top: 14px;

      .border-radius(4px);
    }

    .bar {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .remaining {
      float: left;
      font-size: 0.9em;
      font-size: smaller;
    }

    .percentage_complete {
      float: right;
      font-size: 0.9em;
      margin: 0;
      font-size: smaller;
    }
  }
}

.f_settings_mode #sabnzbd .speed
{
  display: none;
}
