@import "mixins.less";

#settings_icon
{
  background: url(/static/images/alpha/000_70.png);
  height: 40px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 40px;
  z-index: 1;

  border-bottom-right-radius: 40px;
  -moz-border-radius-bottomright: 40px;
  -o-border-bottom-right-radius: 40px;
  -webkit-border-bottom-right-radius: 40px;

  transition: opacity 0.3s;
  -transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;

  .inner {
    background: url(/static/images/settings_icon.png) no-repeat 5px 5px;
    height: 40px;
    width: 40px;
  }

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.f_settings_mode #settings_icon
{
  cursor: pointer;
  opacity: 1;
}

#extra_settings
{
  background: url(/static/images/alpha/000_70.png);
  height: 40px;
  right: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 40px;
  z-index: 10;

  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  -ms-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;

  .inner {
    background-size: 24px;
    height: 40px;
    width: 40px;
    margin: 0px 0px;
  }

  ul {
    display: none;
    margin: 0 5px;
  }

  &:hover {
    height: auto;
    opacity: 1;
    width: 150px;

    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -o-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;

    .inner {
      display: none;
    }

    ul {
      display: block;
      padding: 5px 0;

      li {
        cursor: pointer;
        padding: 5px 27px 5px 15px;
        position: relative;
        .border-radius(2px);

        &:hover {
          background: url(/static/images/alpha/fff_10.png);
        }

        &#remote_icon.on,
        &.active {
          background: url(/static/images/alpha/fff_20.png);
        }

        ul {
          display: none;
          .border-radius(5px);
        }

        .edit,
        .add {
          background: url(/static/images/server_edit.png);
          height: 16px;
          position: absolute;
          right: 5px;
          text-indent: -9999px;
          top: 3px;
          width: 16px;
        }

        .add {
          background: url(/static/images/server_add.png);
        }

        &:hover ul {
          background: url(/static/images/alpha/000_70.png);
          display: block;
          min-width: 150px;
          position: absolute;
          right: 135px;

          -webkit-transition: width 0.2s ease-in-out;
          -moz-transition: width 0.2s ease-in-out;
          -o-transition: width 0.2s ease-in-out;
          -ms-transition: width 0.2s ease-in-out;
          transition: width 0.2s ease-in-out;
        }

        &#server_settings:hover ul {
          top: -5px;
        }
      }
    }
  }
}

.f_settings_mode #settings_icon
{
  cursor: pointer;
  opacity: 1;
}
