/*--- mixins and useful things ---*/

.border-radius (@radius: 5px)
{
  border-radius: @radius;
  -moz-border-radius: @radius;
  -o-border-radius: @radius;
  -webkit-border-radius: @radius;
}

.opacity (@opacity: 0.5)
{
  opacity: @opacity;
  -moz-opacity: @opacity;
  -o-opacity: @opacity;
  -webkit-opacity: @opacity;
}

.box-shadow (@color: #000, @x: 1px, @y: 1px, @radius: 2px)
{
  box-shadow: @color @x @y @radius;
  -moz-box-shadow: @color @x @y @radius;
  -o-box-shadow: @color @x @y @radius;
  -webkit-box-shadow: @color @x @y @radius;
}

.box-shadow-inset (@color: #000, @x: 1px, @y: 1px, @radius: 2px)
{
  box-shadow: inset @color @x @y @radius;
  -moz-box-shadow: inset @color @x @y @radius;
  -o-box-shadow: inset @color @x @y @radius;
  -webkit-box-shadow: inset @color @x @y @radius;
}





/*--- columns ---*/

#wrapper
{
  min-width: 900px;
  position: relative;
}

.col
{
  margin-left: 2%;
  width: 32%;
}

#col1
{
  float: left;
  margin-left: 0;
}

#col2
{
  float: left;
}

#col3
{
  float: right;
}





/*--- module ---*/

.module
{
  background: url(/static/images/alpha/000_70.png);
  border: 1px solid #333;
  margin-bottom: 40px;
  padding: 5px;

  .border-radius(2px);
  .box-shadow(#222, 0, 0, 10px);
}

.module h2
{
  font-size: 1.5em;
  font-weight: normal;
  padding: 17px 15px 20px;
}





/*--- applications ---*/

#applications li
{
  background: url(/static/images/alpha/fff_10.png);
  border: 1px solid #222;
  line-height: 1.3em;
  margin-top: 5px;
  padding: 0;

  .border-radius(4px);
}

#applications li:hover
{
  background: url(/static/images/alpha/fff_20.png);
}

#applications li a
{
  display: block;
  padding: 10px 15px;
}

#applications li .name
{
  float: left;
  font-size: 1.3em;
  font-weight: bold;
}

#applications li .description
{
  color: #ddd;
  float: right;
  font-size: 0.9em;
}





/*--- episodes list ---*/

ul.episodes li
{
  background: url(/static/images/alpha/fff_10.png);
  border: 1px solid #222;
  font-size: 0.9em;
  line-height: 1.3em;
  margin-top: 5px;
  position: relative;

  .border-radius(4px);
}

ul.episodes li:first-child
{
  margin-top: 0;
}

ul.episodes li:hover
{
  background: url(/static/images/alpha/fff_20.png);
  cursor: pointer;
}

ul.episodes .inner
{
  padding: 5px 107px 5px 15px;
  .border-radius(4px);
}

ul.episodes li.watched .inner
{
  border-left: 3px solid #ccc;
  padding-left: 12px;
}

ul.episodes h3
{
  font-size: 1.2em;
  margin-top: 6px;
}

ul.episodes p
{
  color: #ccc;
}

ul.episodes .title
{
  margin-bottom: 6px;
}

ul.episodes img
{
  position: absolute;
  right: 5px;
  top: 5px;
  .box-shadow(#222, 0, 0, 2px);
}





/*--- currently playing ---*/

#currently_playing
{
  background: url(/static/images/alpha/000_70.png);
  bottom: 0;
  height: 40px;
  left: 0;
  padding: 20px;
  position: absolute;
  right: 0;

  .box-shadow(#222, 0, 0, 10px);
}

#currently_playing p
{
  float: left;
  line-height: 1.5em;
  width: 440px;
}

#currently_playing p .separator
{
  margin: 0 3px;
}

#currently_playing .progress
{
  float: right;
  font-size: 0.9em;
  height: 40px;
  position: relative;
  width: 440px;
}

#currently_playing .progress .current
{
  bottom: 8px;
  left: 0;
  position: absolute;
}

#currently_playing .progress .total
{
  bottom: 8px;
  right: 0;
  position: absolute;
}

#currently_playing .progress .bar
{
  border: 1px solid #777;
  height: 5px;
  margin-top: 8px;
  width: 438px;
  .border-radius(3px);
}

#currently_playing .progress .bar .inner
{
  background-color: #eee;
  height: 5px;
}





/*--- SABnzbd+ ---*/

#sabnzbd .inner
{
  color: #ccc;
  line-height: 1.3em;
  padding: 0 15px 15px;
}

#sabnzbd .inner p
{
  margin-top: 5px;
}

#sabnzbd .inner p strong
{
  color: #fff;
}

#sabnzbd .inner p:first-child
{
  margin-top: 0;
}