{% extends "mobile/base.html" %}

{% block left_button %}
  <a class="search" href="{{ url_for('headphones_search', type='artist') }}">+</a>
{% endblock %}

{% block header %}<h1>Headphones</h1>{% endblock %}

{% block navbar %}
<div data-role="navbar">
  <ul>
    <li><a href="{{ url_for('headphones_wanted') }}">Wanted</a></li>
    <li><a href="{{ url_for('headphones_all') }}">All</a></li>
    <li><a href="#" class="ui-btn-active ui-state-persist badge">History</a></li>
  </ul>
</div>
{% endblock %}

{% block content %}
<ul id="headphones" data-role="listview" data-filter="true">
  {% for item in history %}
      <li id="notification">
          <h2>{{ item.Title }}</h2>
          <p>{{ item.Status }}</p>
      </li>
  {% endfor %}
</ul>
{% endblock %}
