/*--- reset and fixes ---*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
{
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

body
{
  background-color: #fff;
  color: #555;
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 80%;
  line-height: 1;
  padding: 0;
}

a             { color: #cb5353; text-decoration: none; }
a:hover       { color: #ff5353; text-decoration: underline; }
ol, ul        { list-style: none; }
blockquote, q { quotes: none; }
:focus        { outline: 0; }
ins           { text-decoration: none; }
del           { text-decoration: line-through; }
table         { border-collapse: collapse; border-spacing: 0; }

textarea, input, select
{
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 1em;
}

/* clearfix */

.clearfix,
.listfix li,
.formrow
{
  min-height: 0;
}

.clearfix:after,
.listfix li:after,
.formrow:after
{
  content: ".";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}

* html .clearfix,
* html .listfix li,
* html .formrow
{
  height: 1%;
}





/*--- layout ---*/

#header
{
  background-color: #f3f3f3;
  border-bottom: 1px solid #ddd;
}

#header .inner
{
  border-bottom: 1px solid #fff;
}

#header h1
{
  color: #333;
  font: bold 2em "Droid Sans", Arial, Helvetica, Sans-serif;
  margin: 0 auto;
  padding: 30px 40px;
  width: 900px;
}

#wrapper
{
  font-family: "Droid Sans", Arial, Helvetica, Sans-serif;
  line-height: 1.3em;
  margin: 0 auto;
  padding: 0 40px 40px;
  width: 900px;
}

#wrapper h2
{
  color: #333;
  font-size: 1.2em;
  margin: 40px 0 15px;
}

#wrapper p
{
  margin: 15px 0;
}

#wrapper .bullets
{
  list-style-type: disc;
  margin-left: 20px;
}

#wrapper .bullets li
{
  margin-top: 7px;
}

#wrapper .numbers
{
  list-style-type: decimal;
  margin-left: 20px;
}

#wrapper .bullets li,
#wrapper .numbers li
{
  margin-top: 7px;
}

#wrapper .instructions > li
{
  margin-top: 20px;
}

#wrapper .instructions p
{
  margin: 10px 0;
}

#wrapper .screenshots
{
  margin: 20px 0;
}

#wrapper .screenshots a
{
  float: right;

  box-shadow: #999 2px 2px 5px;
  -moz-box-shadow: #999 2px 2px 5px;
  -o-box-shadow: #999 2px 2px 5px;
  -webkit-box-shadow: #999 2px 2px 5px;
}

#wrapper .screenshots a:first-child
{
  float: left;
}

#wrapper .screenshots img
{
  display: block;
}

#wrapper code
{
  background-color: #eee;
  border-radius: 3px;
  border: 1px dashed #ccc;
  display: block;
  margin: 20px 0;
  padding: 15px;
  white-space: pre;
}