<li id="manage_settings">
  Manage
  <div class="submenu">
    <ul>
        <li id="misc_settings" class="settings">Misc settings</li>
        <li id="server_settings" class="settings">Server settings</li>
        <li id="update_check">Check for updates</li>
        <li id="view_log">View log</li>
        <li id="restart">Restart <div class="restart" title="Restart">Restart</div></li>
        <li id="shutdown">Shutdown <div class="shutdown" title="Shutdown">Shutdown</div></li>
    </ul>
  </div>
</li>
