{% extends "mobile/base.html" %}

{% block header %}<h1>Sickbeard</h1>{% endblock %}

{% block navbar %}
<div data-role="navbar">
	<ul>
		<li><a href="{{ webroot }}/mobile/sickbeard/">Coming Episodes</a></li>
		<li><a href="#" class="ui-btn-active ui-state-persist">All</a></li>
		<li><a href="{{ webroot }}/mobile/sickbeard/history/">History</a></li>
	</ul>
</div><!-- /navbar -->
{% endblock %}

{% block content %}
  <ul data-role="listview" data-split-icon="gear">
    {%for show in shows|sort %}
      <li>
        <h2>{{ show }}</h2>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
