{% extends "mobile/base.html" %}

{% block left_button %}
  <a class="search" href="{{ url_for('sickbeard_search') }}">+</a>
{% endblock %}

{% block header %}<h1>Season {{season_number}} Episode {{episode_number}}</h1>{% endblock %}

{% block navbar %}
<div data-role="navbar">
	<ul>
    <li><a href="{{ url_for('sickbeard') }}">Wanted</a></li>
    <li><a href="{{ url_for('sickbeard_all') }}">All</a></li>
    <li><a href="{{ url_for('sickbeard_history') }}">History</a></li>
	</ul>
</div>
{% endblock %}

{% block content %}
  <div>
    <h2> {{episode.name}} </h2>
    <small> {{episode.status}} {% if episode.status == 'Downloaded' %} - {{episode.quality}} {% endif %}</small><br>
    <small> {{episode.airdate}} </small><br>
    <small> {{episode.location}} </small>
    <p> {{episode.description}} </p>
  </div>
{% endblock %}
