{% extends "mobile/base.html" %}

{% block left_button %}
  <a id="trakt_home" href="{{ url_for('mobile_trakt') }}" data-direction="reverse" data-transition="slide">
    <img src="{{ url_for('static', filename='images/applications/Trakt.png') }}" alt="trakt">
  </a>
{% endblock %}

{% block header %}<h1>{{ view|title }}</h1>{% endblock %}

{% block navbar%}
  {% macro nav_item(media_type) %}
    <li>
      {% if media == media_type %}
        <a href="#" class="ui-btn-active ui-state-persist">
      {% else %}
        <a href="{{ url_for('mobile_trakt_'+view, user=user, media=media_type) }}">
      {% endif %}
        {{ media_type|title }}
      </a>
    </li>
  {% endmacro %}

  <div data-role="navbar">
    <ul>
      <li><a href="{{ url_for('mobile_trakt_profile', user=user) }}" data-direction="reverse">{{ user }}</a></li>
    </ul>
  </div>

  <div data-role="navbar">
    <ul>
      {{ nav_item('shows') }}
      {{ nav_item('movies') }}
    </ul>
  </div>
{% endblock %}

{% block content %}
  <ul data-role="listview">
    {% for item in trakt %}

      {% if item.tvdb_id %}
        {% set id = item.tvdb_id %}
      {% elif item.imdb_id %}
        {% set id = item.imdb_id %}
      {% else %}
        {% set id = item.tmdb_id %}
      {% endif %}

      <li>
        <a href="{{ url_for('mobile_trakt_summary', media=media[:-1], id=id) }}">
          {% if view == 'rated' %}
            <h3>
              <img src="{{ url_for('static', filename='images/trakt/'+item.rating+'-small.png') }}" height="14" width="14">
              {{ item.title }}
            </h3>
            <span class="ui-li-count">{{ item.rating_advanced }}/10</span>
          {% else %}
            {{ item.title }}
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}