<div id="add_module_dialog" class="dialog">

  <div class="close">x</div>

  {% if available_modules %}
    <h2>Please select a module:</h2>
    <select id="select_module">
      {% for module in available_modules %}
        <option value="{{ module.name }}" data-description="{{ module.description }}">{{ module.label }}</option>
      {% endfor %}
    </select>

    <p class="description">{{ available_modules[0].description }}</p>

    <div class="clearfix">
      <div class="submit">Add module</div>
    </div>

  {% else %}
    <h3>You have already added all available modules.</h3>
  {% endif %}

</div>
