<div id="applications" class="module" data-module="applications">

  <div class="module_settings"><span>Settings</span></div>
  <div class="module_remove"><span>Remove</span></div>

  <h2>Applications</h2>

  {% if applications %}
    <ul>
      {% for application in applications %}
        <li>
          <a href="{{ application.url }}" class="clearfix">
            <span class="name">{{ application.name }}</span>
            <span class="description">{{ application.description }}</span>
          </a>
        </li>
        {% endfor %}
    </ul>
  {% endif %}
</div>
