<div id="applications" class="module" data-module="applications">

  <div class="module_settings"><span>Settings</span></div>
  <div class="module_remove"><span>Remove</span></div>

  <h2>Applications</h2>

  {% if applications %}
    <ul>
      {% for application in applications %}
        <li>
          <a class="clearfix" data-id="{{ application.id }}" title="Launch {{ application.name }}" href="{{ application.url }}"{% if new_tab %} target="_blank"{% endif %}>
            <span class="name">
              {% if application.image %}<img src="{{ url_for('static', filename='images/applications/') }}{{ application.image }}" height="20" width="20">{% endif %}
              <span>{{ application.name }}</span>
            </span>
            <span class="description">{{ application.description }}</span>
          </a>
        </li>
        {% endfor %}
    </ul>
  {% endif %}

  <div id="add_application">+ Add application</div>

</div>
