<div id="applications" class="module" data-module="applications">
  <h2>Applications</h2>
  {% if applications %}
    <ul>
      {% for application in applications %}
        <li>
          <a href="{{ application.url }}" class="clearfix">
            <span class="name">
              <img src="{{ application.image }}" height="20" width="20">
              {{ application.name }}
            </span>
            <span class="description">{{ application.description }}</span>
          </a>
        </li>
        {% endfor %}
    </ul>
  {% endif %}
</div>
