<!DOCTYPE html>
<html>

  <head>
    <title>{% block page_title %}HTPC Frontend{% endblock %}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- Web Fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold">

    <!--[if lte IE 8]><script src="/static/js/ie_shiv.js"></script><![endif]-->
  </head>

  <body>
    {% block content %}{% endblock %}
  </body>

</html>
