{% extends "couchpotato/base.html" %}

{% block couchpotato_menu %}
<ul class="menu">
  <li class="history" title="View History"><span>History</span></li>
  <li class="all" title="View all"><span>All</span></li>
  <li class="wanted active" title="View wanted"><span>Wanted</span></li>
</ul>
{% endblock %}

{% block couchpotato_content %}
<div id="cp_content" class="noscroll{% if compact_view %} compact{%endif%}">
  {% if not couchpotato.empty %}
    {% for item in couchpotato.movies %}
    <div class="movie {{ 'releases' if item.releases }}" id="{{item.info.identifier}}" data-cpid="{{item.id}}">
      <div class="{{item.releases.status}}"></div>
      {% if not compact_view %}
      <div class="image">
        <img class="poster"
        src="
          {% if item.files.image_poster.0 %}
            {{item.files.image_poster.0|cp_img}}
          {% else %}
            {{ url_for('static', filename='images/poster.png') }}
          {% endif %}"
        />
        <span class="profile" title="CouchPotato quality profile">{{item.profile_label}}</span>
      </div>
      {%endif%}
      <span class="title">{{item.title}} ({{item.info.year}})</span>
      {% if item.info.rating %}<span class="rating text"><h3>Rating: {{item.info.rating.imdb.0}}</h3></span>{% endif %}
      <span class="tagline">{% if item.info.tagline %}{{item.info.tagline}}{% else %}{{item.info.plot|truncate(150)}}{% endif %}</span>
      {%if compact_view %}<span class="quality">{{item.profile_label}}</span>{%endif%}
    </div>
    <div class="options {{item.info.identifier}}" data-imdbid="{{item.info.identifier}}" data-cpid="{{item.id}}">
      <img class="delete left_opt" src="{{ url_for('static', filename='images/no.png')}}"/>
      <img class="search left_opt" src="{{ url_for('static', filename='images/search.png')}}"/>
      <a href="http://imdb.com/title/{{item.info.identifier}}" target="_blank">
        <img class="left_opt" src="{{ url_for('static', filename='images/imdb.png')}}" alt="" />
      </a>
      {% if item.releases | length > 0 %}
        <div class="release_list"><ul></ul></div>
      {% endif %}
    </div>
    {% endfor %}
  {% else %}
    <center>No Movies To Show</center>
  {% endif %}
</div>

{% endblock %}
