{% extends "couchpotato-base.html" %}
{% block couchpotato_title %}{% if couchpotato['success'] %}CouchPotato Log{% endif %}{% endblock %}

{% block couchpotato_content %}
{% if couchpotato['success'] %}
<div id="cp_log">
  <h3> Log level: 
    <select class="level">
      <option value="all" {% if level == 'all' %} selected {% endif%}>All</option>
      <option value="debug" {% if level == 'debug' %} selected {% endif%}>Debug</option>
      <option value="info" {% if level == 'info' %} selected {% endif%}>Info</option>
      <option value="error" {% if level == 'error' %} selected {% endif%}>Error</option>
    </select>
  </h3>
  <div class="log">
    <pre>{{couchpotato.log|e}}</pre>    
  </div>
</div>
{%endif%}
{% endblock %}
