<div id="currently_playing" data-id="{{ currently_playing.id }}"{% if fanart %} data-fanart="{{ fanart }}"{% endif %}>

  <p>
    <strong>Currently playing:</strong><br>

    {% if currently_playing.showtitle %}
      {{ currently_playing.showtitle }}
      <span class="separator">-</span>
      Season {{ currently_playing.season }},
      Episode {{ currently_playing.episode }}
      <span class="separator">-</span>
      "{{ currently_playing.title }}"

    {% else %}
      {{ currently_playing.title }}
    {% endif %}
  </p>

  <div class="progress">
    <div class="bar">
      <div class="inner" style="width: {{ percentage_progress }}%;"></div>
    </div>
    <div class="current">{{ current_time }}</div>
    <div class="total">{{ total_time }}</div>
  </div>

  {% if currently_playing.plot %}
    <div class="synopsis">
      <h2>
        {% if currently_playing.showtitle %}
          {{ currently_playing.showtitle }} -
          {{ currently_playing.season }}x{{ currently_playing.episode }} -
          "{{ currently_playing.title }}"
        {% else %}
          {{ currently_playing.title }}
        {% endif %}
      </h2>
      <p>{{ currently_playing.plot }}</p>
    </div>
  {% endif %}

</div>
