<div id="currently_playing" data-id="{{ currently_playing.id }}"{% if fanart %} data-fanart="{{ fanart }}"{% endif %}>

  {% if currently_playing.artist %}
    {% if currently_playing.thumbnail%}
      <img class="albumart" src="{{ itemart }}">
      <p class="item_info_artist">
    {% else %}
      <p class="item_info">
    {% endif %}

  {% elif currently_playing.showtitle %}
    {% if currently_playing.thumbnail%}
      <img class="episodeart" src="{{ itemart }}">
      <p class="item_info_show">
    {% else %}
      <p class="item_info">
    {% endif %}

  {% elif currently_playing.title == '' %}
    {% if currently_playing.thumbnail%}
      <img class="episodeart" src="{{ itemart }}">
      <p class="item_info_show">
    {% else %}
      <p class="item_info">
    {% endif %}

  {% else %}
    {% if currently_playing.thumbnail%}
      <img class="posterart" src="{{ itemart }}">
      <p class="item_info_movie">
    {% else %}
      <p class="item_info">
    {% endif %}
  {% endif %}

    <strong>Currently playing:</strong><br>

    {% if currently_playing.showtitle %}
      <span class="show" data-show="{{ currently_playing.tvshowid }}">{{ currently_playing.showtitle }}</span>
      <span class="separator">-</span>
      <span class="season" data-season="{{ currently_playing.season }}">Season {{ currently_playing.season }}</span>,
      <span class="episode">Episode {{ currently_playing.episode }}</span>
      <span class="separator">-</span>
      "{{ currently_playing.label }}"
    {% elif currently_playing.artist %}
      <span class="artist" data-artist="{{ currently_playing.artistid }}">{{ currently_playing.artist }}</span>
      <span class="separator">-</span>
      <span class="album" data-album="{{ currently_playing.albumid }}">{{ currently_playing.album }} ({{ currently_playing.year }})</span>
      <br>{% if currently_playing.track < 10 %}0{% endif %}{{ currently_playing.track }}. {{ currently_playing.label }}
    {% else %}
      {{ currently_playing.label }}
    {% endif %}
  </p>

  <div class="progress" data-progress="{{ percentage_progress }}%">
    <div class="bar">
      <div class="inner" style="width: {{ percentage_progress }}%;"></div>
    </div>
    <div class="current">{{ current_time }}</div>
    <div class="total" data-seconds="{{total_time_seconds}}">{{ total_time }}</div>
  </div>

  <div class="controls">
    <div class="previous">Previous</div>
    <div class="rewind">Rewind</div>
    <div class="stop">Stop</div>
    <div class="play_pause">Play/Pause</div>
    <div class="fast_forward">Fast Forward</div>
    <div class="next">Next</div>
    <div class="shuffle" {% if shuffled %}id="active"{% endif %}>Shuffle</div>
    <div class="repeat" {% if repeat != 'off' %}id="repeat_{{ repeat }}"{% endif %}>Repeat</div>
  </div>

  {% if currently_playing.plot %}
    <div class="synopsis">
      <h2>
        {% if currently_playing.showtitle %}
          {{ currently_playing.showtitle }} -
          {{ currently_playing.season }}x{{ currently_playing.episode }} -
          "{{ currently_playing.title }}"
        {% else %}
          {{ currently_playing.title }} {{ currently_playing.year }}
        {% endif %}
      </h2>
      <p>{{ currently_playing.plot|truncate(750) }}</p>
    </div>
  {% endif %}

</div>
