<div id="diskspace" class="module generic" data-module="diskspace">

  <div class="module_settings"><span>Settings</span></div>
  <div class="module_remove"><span>Remove</span></div>

  <h2>Disk Space</h2>

  {% if disks %}

  <div class="inner">

    <ul>
      {% for disk in disks %}
        <li data-id="{{ disk.id }}">
          <div class="clearfix">
            <div class="path">{{ disk.path }}</div>
            <div class="stats">
              {{ disk.used }} GB used,
              {{ disk.free }} GB free
            </div>
          </div>
          <div class="bar">
            <div class="inner" style="width: {{ disk.percentage_used }}%;"></div>
          </div>
        </li>
      {% endfor %}
    </ul>

  </div>

  {% endif %}

  <div id="add_disk">+ Add disk</div>

</div>
