{% extends "base.html" %}

{% block content %}

<div id="wrapper" class="clearfix">

  <div id="col1" class="col">
    {% with mods = modules[0] %}
      {% include "placeholders.html" %}
    {% endwith %}
  </div>

  <div id="col2" class="col">
    {% with mods = modules[1] %}
      {% include "placeholders.html" %}
    {% endwith %}
  </div>

  <div id="col3" class="col">
    {% with mods = modules[2] %}
      {% include "placeholders.html" %}
    {% endwith %}
  </div>

</div>

{% endblock %}
