{% extends "base.html" %}

{% block content %}

<div id="wrapper" class="clearfix">

  <div id="col1" class="col">
    {% for module in modules[0] %}
      <div id="{{ module }}_placeholder" class="placeholder" data-module="{{ module }}"></div>
    {% endfor %}
  </div>

  <div id="col2" class="col">
    {% for module in modules[1] %}
      <div id="{{ module }}_placeholder" class="placeholder" data-module="{{ module }}"></div>
    {% endfor %}
  </div>

  <div id="col3" class="col">
    {% for module in modules[2] %}
      <div id="{{ module }}_placeholder" class="placeholder" data-module="{{ module }}"></div>
    {% endfor %}
  </div>

</div>

{% endblock %}
