{% if downloads and downloads|length %}
<div id="nzbget" class="module" data-module="nzbget">

  <div class="module_settings"><span>Settings</span></div>
  <div class="module_remove"><span>Remove</span></div>

  <h2>NZBGet</h2>

  <div class="inner">
    {% block nzbget_content %}{% endblock %}
  </div>
</div>

{% else %}
<div class="placeholder" data-module="nzbget">
  <div class="module_settings"><span>Settings</span></div>
  <div class="module_remove"><span>Remove</span></div>
  <h2>NZBGet</h2>
</div>
{% endif %}
