<div id="recently_added" class="module">
  <h2>Recently added episodes</h2>
  <ul class="episodes listfix">
    {% for episode in recently_added_episodes %}
      <li data-episodeid="{{ episode.episodeid }}" title="Play episode">
        {% if episode.thumbnail %}
          <img src="http://{{ server.hostname }}:{{ server.port }}/vfs/{{ episode.thumbnail }}" width="100" height="56" alt="">
        {% endif %}
        <div class="inner">
          <h3>{{ episode.showtitle }}</h3>
          <p>Season {{ episode.season }}, Episode {{ episode.episode }}</p>
          <p class="title">"{{ episode.title }}"</p>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
