<div id="recently_added" class="module" data-module="recently_added" data-episode_offset="{{ episode_offset }}">

  <div class="module_settings"><span>Settings</span></div>
  <div class="module_remove"><span>Remove</span></div>

  <h2>Recently Added Episodes</h2>

  {% if recently_added_episodes %}

    <ul class="episodes listfix">
      {% for episode in recently_added_episodes %}
        <li data-episodeid="{{ episode.episodeid }}" title="Play {{ episode.showtitle }} - {{ episode.title }}" {% if episode.playcount %} class="watched"{% endif %}>

          {% if episode.thumbnail %}
            <img class="thumbnail" src="{{ vfs_url }}{{ episode.thumbnail }}" width="100" height="56" alt="">
          {% endif %}

          <div class="inner">
            <h3>{{ episode.showtitle }}</h3>
            <p>Season {{ episode.season }}, Episode {{ episode.episode }}</p>
            <p class="title">"{{ episode.title }}"</p>
          </div>

        </li>
      {% endfor %}
    </ul>

    <div class="clearfix">
      {% if episode_offset + recently_added_episodes|length < 25 %}
        <a class="view_older" title="Older">&raquo;</a>
      {% endif %}
      {% if episode_offset > 0 %}
        <a class="view_newer" title="Newer">&laquo;</a>
      {% endif %}
    </div>

  {% else %}
    <p class="problem">There was a problem connecting to the XBMC server.</p>
  {% endif %}

</div>
