<div id="recommendations" class="module" data-module="recommendations">
  <div class="module_settings"><span>Settings</span></div>
  <div class="module_remove"><span>Remove</span></div>
  <h2>Recommended Movies</h2>
  <div>
    <a href="{{ url }}"><h2>{{ title }} [{{ year }}]</h2></a>
    {% if watchlist %}
    	<a onclick="ajax_call('/trakt/add_to_watchlist/{{ id }}/{{ title }}/{{ year }}/');">Add to watchlist</a>
    {% endif %}	
    <a onclick="ajax_call('/trakt/dismiss_rec/{{ id }}/{{ title }}/{{ year }}/');">Dismiss</a>
    <div id="movie-description" style="overflow: none;">
    	<img src="{{ image }}" style="height: 140px; float: left" />
    	<div style="overflow: none; height: 150px; text-align: justify;">{{ overview }}</div>
    </div>
    <div class="bar" style="height: 10px; overflow: none;">
      <div class="inner" style="width: {{ liked }}%;height: 10px;">
      	<div style="color: black; text-align:center;">Liked by: {{ liked }}%</div>
     	</div>
  	</div>
	</div>
</div>