{% if sabnzbd.slots %}
<div id="sabnzbd" class="module" data-module="sabnzbd">

  <div class="module_settings"><span>Settings</span></div>
  <div class="module_remove"><span>Remove</span></div>

  <script src="/static/js/lib/tipsy.js" type="text/javascript"></script>  
  
  <h2 class="title">SabNZBd+</h2>
<!--
  <div class="menu">
  	<p class="queue">Queue</p>
  	<p class="history">History</p>
  </div> 
-->
  <div class="inner">
    <div class="status" id="status">
    	<a>
		  {% if sabnzbd.paused == True %}
		  <strong title="Click to Resume SabNZBd+">Paused</strong>
		  {% else %}
		  <strong title="Click to Pause SabNZBd+">Downloading</strong>
	    {% endif %}
	    </a>
    </div>
    <div class="speed">
      <input class="sab_speed" type="text" value="{{ download_speed[:-5] }}" size="6"/>{{ download_speed[-5:] }}
    </div>
    <p>
      {{ sabnzbd.slots[0].filename }}
    </p>

    <div class="bar">
      <div class="inner" style="width: {{ percentage_total }}%;"></div>
    </div>

    <div class="clearfix">
      <p class="remaining"><strong>Remaining:</strong> {{ sabnzbd.slots[0].timeleft }} - {{ sabnzbd.slots[0].mbleft|int }}/{{ sabnzbd.slots[0].mb|int }} MB</p>
      <p class="percentage_complete">{{ percentage_total }}% complete</p>
    </div>
    {% if sabnzbd.slots|length > 1 %}
    	<br>
    	<a class="status" id="extra-queue"><span></span></a>
  		<div id="sabnzbd_next" style="display:none;">
  			<table style="width: 100%; table-layout:fixed;">
	  	  		{% for i in range(1, num_queue_items + 1) %}
					<tr id="{{ sabnzbd.slots[i].nzo_id }}">
    					<td width="80%" class="extra_name" title="{{ sabnzbd.slots[i].filename }}">{{ sabnzbd.slots[i].filename }}<td/>
    					<td width="25%" align="right">{{ sabnzbd.slots[i].mb|int }} MB  <img class="remove" value="{{sabnzbd.slots[i].nzo_id}}" title="Delete {{ sabnzbd.slots[i].filename }} from queue" src="/static/images/remove_icon.png" /></td>
    				</tr>
    			{% endfor %}
	    	</table>
    	</div>
    {% endif %}
  </div>
</div>
{% else %}
<div class="placeholder" data-module="sabnzbd">
  <div class="module_settings"><span>Settings</span></div>
  <div class="module_remove"><span>Remove</span></div>
  <h2>SabNZBd+</h2>
</div>
{% endif %}

