{% if sabnzbd.slots %}
<div id="sabnzbd" class="module" data-module="sabnzbd">

  <div class="module_settings"><span>Settings</span></div>
  <div class="module_remove"><span>Remove</span></div>

  <h2>SABnzbd+</h2>
  <div class="inner">
    <div class="status" id="status">
    	<a>
		  {% if sabnzbd.paused == True %}
		  <strong title="Click to sesume Sab">Paused</strong>
		  {% else %}
		  <strong title="Click to pause Sab">Downloading</strong>
	    {% endif %}
	    </a>
    </div>
    <div class="speed">
      <input class="sab_speed" type="text" value="{{ download_speed[:-5] }}" size="6"/>{{ download_speed[-5:] }}
    </div>
    <p>
      {{ sabnzbd.slots[0].filename }}
    </p>

    <div class="bar">
      <div class="inner" style="width: {{ percentage_total }}%;"></div>
    </div>

    <div class="clearfix">
      <p class="remaining"><strong>Remaining:</strong> {{ sabnzbd.slots[0].timeleft }} / {{ sabnzbd.slots[0].mbleft|int }} MB</p>
      <p class="percentage_complete">{{ percentage_total }}% complete</p>
    </div>
    {% if (sabnzbd.slots) > 0 %}
    	<br>
    	<a class="status" id="extra-queue"><span></span></a>
  		<div id="sabnzbd_next" style="display:none;">
  			<table style="width: 100%; table-layout:fixed;">
	  	  		{% for i in sabnzbd.slots %}
	  	  		{% if i.index != 0 %}
  						<tr id="{{ i.nzo_id }}">
	    					<td width="80%" class="extra_name" title="{{ i.filename }}">{{ i.filename }}<td/>
	    					<td width="25%" align="right">{{ i.mb|int }} MB  <img class="remove" value="{{i.nzo_id}}" title="Delete {{ i.filename }} from queue" src="/static/images/remove_icon.png" /></td>
	    				</tr>
	    			{% endif %}
	    			{% endfor %}
	    	</table>
    	</div>
    {% endif %}
    <div class="history">HISTORY</div>
  </div>
</div>
{% elif history %}
<div id="sabnzbd" class="module" data-module="sabnzbd">
	<h2>History</h2>
	<table id="history" class="tablesorter">
		<thead> 
			<tr> 
			    <th>Name</th> 
			    <th>Status</th> 
			    <th>Size</th> 
			    <th>DL Time</th> 
			    <th>Category</th> 
			</tr>
		</thead>		
		<tbody align="center">
			{% for i in history %}
			<tr>
				<td width="50%">{{ i.name }}</td>
				<td>{{ i.status }}</td>
				<td>{{ i.size }}</td>
				<td>{{ (i.download_time/60)|int }}:{{i.download_time%60}} minutes</td>
				<td>{{ i.category }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div id="pager" class="pager" style="width:99%; margin:0 auto; text-align:center;">
			<a href="#" class="first"> First </a>
			<a href="#" class="prev"> Prev </a>
			<a href="#" class="next"> Next </a>
			<a href="#" class="last"> Last </a>
			<br />
			<select class="pagesize">
				<option selected="selected"  value="10">10</option>
				<option value="20">20</option>
				<option value="30">30</option>
				<option  value="40">40</option>
			</select>
	</div>
</div>
{% else %}
<div class="placeholder" data-module="sabnzbd">
  <div class="module_settings"><span>Settings</span></div>
  <div class="module_remove"><span>Remove</span></div>
  <h2>SABnzbd+</h2>
</div>
{% endif %}

