<div id="search" class="module {% if not results %}hide{% endif %}" data-module="search">
  <div class="module_settings"><span>Settings</span></div>
  <div class="module_remove"><span>Remove</span></div>

  <div class="inner">
    <form>
      <input id="value" type="search">
    </form>
    {% if results %}
    <div id="results">
      <table class="tablesorter">
        <thead>
          <tr>
            <th class="icon"></th>
            <th class="name">Name</th>
            <th class="size">Size</th>
            <th class="category">Category</th>
          </tr>
        </thead>
        <tbody>
          {% for x in results %}
            {% set item = results[x]%}
            <tr><td><img src="static/images/applications/SabNZBd.png" height="15px" nzb-link="{{ item.LINK|add_to_sab }}" /></td><td>{{ item.NZBNAME }}</td><td>{{ item.SIZE|convert_bytes }}</td><td>{{ item.CATEGORY }}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
</div>