<div id="server_settings" class="module generic_module edit_settings" data-module="server_settings">




  <script src="/static/js/lib/tipsy.js" type="text/javascript"></script>
  <h2>Server Settings</h2>

  <form class="inner" method="post" action="">

    {% for setting in server_settings %}
      <div class="formrow">
        <label for="id_{{ setting.key }}">{{ setting.description }}</label>

        {% if setting.type == 'bool' %}
          <select id="id_{{ setting.key }}" name="{{ setting.key }}">
            <option value="0"{% if setting.value == "0" %} selected="selected"{% endif %}>No</option>
            <option value="1"{% if setting.value == "1" %} selected="selected"{% endif %}>Yes</option>
          </select>
        {% else %}
          <input title="{{ setting.tipsy }}" id="id_{{ setting.key }}" name="{{ setting.key }}" type="{% if "password" in setting.key %}password{% else %}text{% endif %}" value="{{ setting.value }}">
        {% endif %}

      </div>
    {% endfor %}

    <div class="choices">
      {% if updated %}
        <div class="save saved">Settings Saved</div>
      {% else %}
        <div class="save">Save</div>
      {% endif %}
    </div>

  </form>

</div>
