<div id="server_settings" class="module generic_module">

  <h2>Server settings</h2>

  <form class="inner" method="post" action="">

    {% for setting in server_settings %}
      <div class="formrow">
        <label for="id_{{ setting.key }}">{{ setting.description }}</label>
        <input id="id_{{ setting.key }}" name="{{ setting.key }}" type="{% if "password" in setting.key %}password{% else %}text{% endif %}" value="{{ setting.value }}">
      </div>
    {% endfor %}

    <div class="choices">
      <div class="save">Save</div>
      <div class="cancel">Cancel</div>
    </div>

  </form>

</div>
