{% if sickbeard %}
<div id="sickbeard" class="module" data-module="sickbeard">
	<div class="module_settings"><span>Settings</span></div>
	<div class="module_remove"><span>Remove</span></div>

	<script src="/static/js/lib/tipsy.js" type="text/javascript"></script> 	
	  <h2 class="title">Episode Manager</h2><div class="update menu-icon" title="Touch Me!">Menu</div>
	<div class="menu">
		<span class="all">All</span> | <span class="upcoming">Soon</span>
	</div>
	<div style="clear: both;"></div>
  <div id="content">
  	<div id="future">
			{% if missed|length %}
			<div id="missed"><b>{{missed|length}}</b> episodes have been missed.</div>
			<div class="missed">
				{% for i in missed %}
					<div class="coming_ep" id="{{i.tvdbid}}_{{i.season}}_{{i.episode}}">
						<h2><a href="http://{{url}}/home/displayShow?show={{i.tvdbid}}">{{ i.show_name }} - {{ i.season }}x{{ i.episode }} - {{ i.ep_name }}</a></h2>
						<img width="100%" src="http://{{ url }}/showPoster/?show={{i.tvdbid}}&which=banner" />
						<div class="options">
							<a href="http://www.thetvdb.com/?tab=series&id={{i.tvdbid}}" target="_blank"><img class="tvdb" src="/static/images/tvdb.png" title="{{i.show_name}} on TVDB"/></a>
							<img class="search" src="/static/images/search.png" id="{{i.tvdbid}}" episode="{{i.episode}}" season="{{i.season}}" title="Search for episode"/>
						</div>
						<div class="details">
							<div class="airs">{{i.airs}}</div>
							<div class="plot">Plot</div>
						</div>
					</div>
				{% endfor %}
			</div>
			{% endif %}
			{% if today|length %}
			<div id="today">
				<h3>Today</h3>
				{% for i in today %}
					<div class="coming_ep" id="{{i.tvdbid}}_{{i.season}}_{{i.episode}}">
						<h2><a href="http://{{url}}/home/displayShow?show={{i.tvdbid}}">{{ i.show_name }} - {{ i.season }}x{{ i.episode }} - {{ i.ep_name }}</a></h2>
						<img width="100%" src="http://{{ url }}/showPoster/?show={{i.tvdbid}}&which=banner" />
						<div class="options">
							<a href="http://www.thetvdb.com/?tab=series&id={{i.tvdbid}}" target="_blank"><img class="tvdb" src="/static/images/tvdb.png" title="{{i.show_name}} on TVDB"/></a>
							<img class="search" src="/static/images/search.png" id="{{i.tvdbid}}" episode="{{i.episode}}" season="{{i.season}}" title="Search for episode"/>
						</div>
						<div class="details">
							<div class="airs">{{i.airs}}</div>
							<div class="plot">Plot</div>
						</div>
					</div>
				{% endfor %}
			</div>
			{% endif %}
			{% if soon|length %}
			<div id="soon">
				<h3>Soon</h3>
				{% for i in soon %}
					<div class="coming_ep" id="{{i.tvdbid}}_{{i.season}}_{{i.episode}}">
						<h2><a href="http://{{url}}/home/displayShow?show={{i.tvdbid}}">{{ i.show_name }} - {{ i.season }}x{{ i.episode }} - {{ i.ep_name }}</a></h2>
						<img width="100%" src="http://{{ url }}/showPoster/?show={{i.tvdbid}}&which=banner" />
						<div class="options">
							<a href="http://www.thetvdb.com/?tab=series&id={{i.tvdbid}}" target="_blank"><img class="tvdb" src="/static/images/tvdb.png" title="{{i.show_name}} on TVDB"/></a>
							<img class="search" src="/static/images/search.png" id="{{i.tvdbid}}" episode="{{i.episode}}" season="{{i.season}}" title="Search for episode"/>
						</div>
						<div class="details">
							<div class="airs">{{i.airs}}</div>
							<div class="plot">Plot</div>
						</div>
					</div>
				{% endfor %}
			</div>
			{% endif %}
			{% if later|length %}
			<div id="later">
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% else %}
<div class="placeholder" data-module="sickbeard">
  <div class="module_settings"><span>Settings</span></div>
  <div class="module_remove"><span>Remove</span></div>
  <h2>Sickbeard</h2>
</div>
{% endif %}
