<div id="sickbeard" class="module" data-module="sickbeard">
	<div class="module_settings"><span>Settings</span></div>
	<div class="module_remove"><span>Remove</span></div>

	<h2 class="title">Episode Manager</h2><div class="update menu-icon" title="Touch Me!">Menu</div>
	<div class="menu">
		<span class="all">All</span> | <span class="upcoming">Soon</span> | <span class="history">History</span>
	</div>
	<div style="clear: both;"></div>
  <div id="content">
		<div id="sickbeard-list">
			{%for i in sickbeard|sort %}
				{% set show = sickbeard[i]%}
				<ul id="{{show.tvdbid}}" class="sbshow">
					<li>
						<img src="{{show.url}}" class="show-image" />
						<span class="show-name">{{ i }}</span>
						{% if show.quality=='HD' %}
							<img src="/static/images/hd-icon.png" class="hd-image"/>
						{% else %}
						    <img src="/static/images/sd-icon.png" class="hd-image"/>
						{% endif %}
						</li>
				</ul>
			{% endfor %}
		</div>
		<div id="show-info-result"></div>
	</div>
</div>