{% extends "sickbeard-base.html" %}

{% block sickbeard_content %}

<div id="sb_content" class="episode-list">
  <div class="back" tvdbid="{{ id }}" season="{{ season }}">
    <p class="back">&laquo;</p>
  </div>
  <table id="season" class="tablesorter">
    <thead>
      <th class="ep">#</th>
      <th class="name">Name</th>
      <th class="status">Status</th>
      <th class="quality">Quality</th>
      <th class="airdate">Air Date</th>
    </thead>
    <tbody>
      {% for episode in sickbeard|sort %}
      <tr link="{{ id }}/{{ season }}/{{ episode }}">
        <td>{{episode}}</td>
        <td>{{sickbeard[episode].name}}</td>
        <td>
          <img src="
                {% if sickbeard[episode].status == "Downloaded" %}
                  {{url_for('static', filename='images/yes.png')}}
                {% else %}
                  {{url_for('static', filename='images/no.png')}}
                {% endif %}
            " />
        </td>
        <td>{{sickbeard[episode].quality}}</td>
        <td>{{sickbeard[episode].airdate}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
