<div id="sickbeard" class="module" data-module="sickbeard">
	<div class="module_settings"><span>Settings</span></div>
	<div class="module_remove"><span>Remove</span></div>

	<script src="/static/js/lib/tipsy.js" type="text/javascript"></script> 	
	  <h2 class="title">Episode Manager</h2><div class="update menu-icon" title="Touch Me!">Menu</div>
	<div class="menu">
		<span class="all">All</span> | <span class="upcoming">Soon</span>
	</div>
	<div style="clear: both;"></div>
  <div id="content">
		<div id='show'>
			<p style="float:right;" class="sb-back">BACK</p>
			<h2>{{sickbeard.show_name}}</h2>
			<img class="sb-img" src="{{sickbeard.url}}" />
			<p>{{sickbeard.airs}}</p>
			<p>{{sickbeard.quality}}</p>
			{% for genre in sickbeard.genre %}
				<p>{{ genre }}</p>
			{% endfor %}
			<div class="seasons">
			{% for season in sickbeard.season_list|sort %}
				<p season="{{season}}" tvdbid="{{sickbeard.tvdb}}">{{ season }}</p>
			{% endfor %}
			</div>
		</div>
	</div>
</div>
