{% if sickbeard %}

<div id="sickbeard" class="module" data-module="sickbeard">
  <div class="module_settings"><span>Settings</span></div>
  <div class="module_remove"><span>Remove</span></div>

  {% macro item(i) -%}
    <div class="coming_ep" id="{{i.tvdbid}}_{{i.season}}_{{i.episode}}">
      <h2><a href="{{ url }}home/displayShow?show={{i.tvdbid}}">{{ i.show_name }} - {{ i.season }}x{{ i.episode }} - {{ i.ep_name }}</a></h2>
      <img width="100%" src="{{ url }}showPoster/?show={{i.tvdbid}}&which=banner" />
      <div class="options">
        <a href="http://www.thetvdb.com/?tab=series&id={{i.tvdbid}}" target="_blank"><img class="tvdb" src="/static/images/tvdb.png" title="{{i.show_name}} on TVDB"/></a>
        <img class="search" src="/static/images/search.png" id="{{i.tvdbid}}" episode="{{i.episode}}" season="{{i.season}}" title="Search for episode"/>
      </div>
      <div class="details">
        <div class="airs">{{i.airs}}</div>
        {% if i.ep_plot|length > 2 %}
          <div class="plot-title">Plot</div>
          <div class="plot">
            <h4>{{ i.show_name }} - {{ i.season }}x{{ i.episode }} - {{ i.ep_name }}</h4>
            <p>{{ i.ep_plot|truncate(400) }}</p>
          </div>
        {% endif %}
      </div>
    </div>
  {%- endmacro %}

  <h2 class="title">{% block sickbeard_title %}Sickbeard{% endblock %}</h2>

  <ul class="menu">
    <li class="history" title="View History"><span>History</span></li>
    <li class="all" title="View all"><span>All</span></li>
    <li class="upcoming" title="View upcoming"><span>Upcoming</span></li>
  </ul>

  {% block sickbeard_content %}{% endblock %}

  <div class="powerholder">
    <a class="button add" title ="Add new show to Sickbeard">+</a>
    <a class="button restart" title ="Restart Sickbeard"><img src="/static/images/reboot.png" /></a>
    <a class="button power" title ="Shutdown Sickbeard"><img src="/static/images/shutdown.png" /></a>
  </div>
</div>

{% else %}

<div class="placeholder" data-module="sickbeard">
  <div class="module_settings"><span>Settings</span></div>
  <div class="module_remove"><span>Remove</span></div>
  <h2>Sickbeard</h2>
</div>

{% endif %}
