{% extends "sickbeard-base.html" %}

{% block sickbeard_content %}

<div id="sb_content">
  <div id="sickbeard-list">
    {%for i in sickbeard|sort %}
    {% set show = sickbeard[i]%}
    <ul id="{{show.tvdbid}}" class="sbshow">
      <li>
        <img src="{{show.url}}" class="show-image" />
        <span class="show-name">{{ i }}</span>
        {% if show.quality=='HD' %}
        <img src="{{ url_for('static', filename='images/hd-icon.png') }}" class="hd-image"/>
        {% else %}
        <img src="{{ url_for('static', filename='images/sd-icon.png') }}" class="hd-image"/>
        {% endif %}
      </li>
    </ul>
    {% endfor %}
  </div>
  <div id="show-info-result"></div>
</div>

{% endblock %}
