{% extends "sickbeard-base.html" %}

{% block sickbeard_content %}

<div id="sb_content">
  <div id="future">
    {% if missed|length %}
    <div id="missed" title="SB has missed {{missed|length}} episodes"><b>{{missed|length}}</b></div>
    <div class="missed">
      {% for show in missed %}
      {{item(show)}}
      {% endfor %}
    </div>
    {% endif %}
    {% if today|length %}
    <div id="today">
      <h3>Today</h3>
      {% for show in today %}
      {{item(show)}}
      {% endfor %}
    </div>
    {% endif %}
    {% if soon|length %}
    <div id="soon">
      <h3>Soon</h3>
      {% for show in soon %}
      {{item(show)}}
      {% endfor %}
    </div>
    {% endif %}
    {% if later|length %}
    <div id="later">
      <h3>Later</h3>
      {% for show in later %}
      {{item(show)}}
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
