<div id="sickbeard" class="module" data-module="sickbeard">
	<div class="module_settings"><span>Settings</span></div>
  <div class="module_remove"><span>Remove</span></div>
	
	<h2 class="title">Season</h2><div class="update menu-icon" title="Touch Me!">Menu</div>
	<div class="menu">
		<span class="all">All</span> | <span class="upcoming">Soon</span>
	</div>
	<div style="clear: both;"></div>
  <div id="content">
		<table id="season" class="tablesorter">
			<thead>
				<th>#</th>
				<th>Name</th>
				<th>Status</th>
				<th>Quality</th>
				<th>Air Date</th>
			</thead>
			<tbody>
			{% for episode in sickbeard|sort %}
				<tr>
					<td>{{episode}}</td><td>{{sickbeard[episode].name}}</td><td>{{sickbeard[episode].status}}</td><td>{{sickbeard[episode].quality}}</td><td>{{sickbeard[episode].airdate}}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
  </div>
</div>