{% extends "trakt-base.html" %}
{% block trakt_title %}{{ title }}{% endblock %}
{% block trakt_content %}
{% if recommendations %}

<div class="recommendations">
  <ul class="recommendations listfix">
    {% if tv %}
      <a href="{{ tv.url }}" target="_blank">
        <li>
          <div class="inner">
            <h3>TV show: {{ tv.title }}</h3>
            <img src="{{ tv.poster }}"/>
            <p class="info">Year: {{ tv.year }}, Rating: {{ tv.liked }}%</p>
            <p class="overview">
              <span class="truncated">{{ tv.overview|truncate(400, false) }}</span>
              <span class="expanded" style="display: none;">{{ tv.overview }}</span>
              {% if tv.overview|count > 400 %}
                <a class="expand" href="#" title="More">[+]</a>
              {% endif %}
            </p>
          </div>
        </li>
      </a>
    {% endif %}

    {% if movie %}
      <a href="{{ movie.url }}" target="_blank">
        <li>
          <div class="inner">
            <h3>Movie: {{ movie.title }}</h3>
            <img src="{{ movie.poster }}"/>
            <p class="info">Year: {{ movie.year }}, Rating: {{ movie.liked }}%</p>
            <p class="overview">
              <span class="truncated">{{ movie.overview|truncate(400, false) }}</span>
              <span class="expanded" style="display: none;">{{ movie.overview }}</span>
              {% if movie.overview|count > 400 %}
                <a class="expand" href="#" title="More">[+]</a>
              {% endif %}
            </p>
          </div>
        </li>
      </a>
    {% endif %}
  </ul>
</div>

{% endif %}
{% endblock %}
