{% extends "trakt-base.html" %}
{% block trakt_title %}{{ title }}{% endblock %}
{% block trakt_content %}
{% if trending %}

<div class="trakt_choices">
  <b>{{ type }}</b>
  {% if type == 'Movies' %}
    <a class="button addloading" data-xhr_url="trending/shows">Shows</a>
  {% else %}
    <a class="button addloading" data-xhr_url="trending/movies">Movies</a>
  {% endif %}
</div>

<div class="trending">
  <div id="carousel">
    {% for item in trending %}
      <a href="{{ item.url }}" target="_blank"><img src="{{ item.images.poster }}" title="{{ item.title }}&#13;{{ item.watchers }} {% if item.watchers > 1 %}people{% else %}person{% endif %} watching"/></a>
    {% endfor %}
  </div>

  <script type="text/javascript">
    jQuery(function( $ ) {
      $( "#carousel" ).rcarousel({
        visible: 4,
        step: 4,
        auto: {
          enabled: true,
          interval: 3000,
          direction: "next"
        },
        height: 141,
        width: 95,
        margin: 5,
      });				
    });
  </script>
</div>

{% endif %}
{% endblock %}