{% extends "trakt-base.html" %}
{% block trakt_title %}{{ title }}{% endblock %}
{% block trakt_content %}
{% if watchlist %}

<h2><a class="trakt_user addloading" href="#" data-username="{{ user }}">{{ user }}</a>'s {{ type }} watchlist</h2>

<div class="trakt_choices">
  <b>{{ type }}</b>
  {% if type == 'Movies' %}
    <a class="button addloading" data-xhr_url="watchlist/{{ user }}/shows">Shows</a>
  {% else %}
    <a class="button addloading" data-xhr_url="watchlist/{{ user }}/movies">Movies</a>
  {% endif %}
</div>

<div class="watchlist">
  {% if watchlist.0.empty %}
    {{ user }} has not added any {{ type|lower }} into their watchlist
  {% else %}
    <ul>
      {% for item in watchlist %}
        <a href="{{ item.url }}" target="_blank"><li>{{ item.title }} {% if type == 'Movies' %}({{ item.year }}){% endif %}</li></a>
      {% endfor %}
    </ul>
  {% endif %}
</div>

{% endif %}
{% endblock %}