<div id="weather" class="module" data-module="weather">

  <div class="module_settings"><span>Settings</span></div>
  <div class="module_remove"><span>Remove</span></div>

  {% if weather %}
    <h2>Weather in {{ weather.current.cityname }}</h2>
    <table>
    {% if compact_view %}

        <tr>
          <td><strong>Current</strong></td>
          <td>{% if weather.current.image %}<img class="compactforecastimg" src="{{ weather.current.image }}"/>{% else %}&nbsp;{% endif %}</td>
          <td>{{ weather.current.type }}</td>
          <td class="high">{{ weather.current.temperature|weather_temp }}</td>
          <td><strong>{{ weather.current.wind.speed|weather_speed }}</strong></td>
        </tr>
        {% if weather.forecast.0 %}
          <tr>
            <td><strong>Today</strong></td>
            <td>{% if weather.forecast.0.image %}<img class="compactforecastimg" src="{{ weather.forecast.0.image }}"/>{% else %}&nbsp;{% endif %}</td>
            <td>{{ weather.forecast.0.day.type }}</td>
            <td class="high">{{ weather.forecast.0.high|weather_temp }}</td>
            <td class="low">{{ weather.forecast.0.low|weather_temp }}</td>
          </tr>
        {% endif %}

        {% if weather.forecast.1 %}
          <tr>
            <td><strong>Tomorrow</strong></td>
            <td>{% if weather.forecast.1.image %}<img class="compactforecastimg" src="{{ weather.forecast.1.image }}"/>{% else %}&nbsp;{% endif %}</td>
            <td>{{ weather.forecast.1.day.type }}</td>
            <td class="high">{{ weather.forecast.1.high|weather_temp }}</td>
            <td class="low">{{ weather.forecast.1.low|weather_temp }}</td>
          </tr>
        {% endif %}

      {% else %}

        <tr>
          <td colspan="5">
            <div class="container" id="time_banner">
              <b>
                <div class="clock">
                  <span class="date">{{ date }}</span>
                  <span class="{% if meridian %}12{% endif %}hours"></span>
                  <span>:</span>
                  <span class="min"></span>
                  <span>:</span>
                  <span class="sec"></span>
                  <span class="meridian"></span>
                </div>
                <div class="current">Current as of {{ time }} <span class="meridian"></span></div>
              </b>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <center class="currentcond">
              {% if weather.current.image %}<img class="currentimage" src="{{ weather.current.image }}"/>{% endif %}
              <br />
              {{ weather.current.type }}
              <br />
              <br />
            </center>
          </td>
          <td colspan="1" class="currenttemp">{{ weather.current.temperature|weather_temp }}</td>
          <td colspan="2">
            <center class="currentcond">
              {% if wind_image %}<img src="{{ wind_image }}" />{% endif %}<br>{{ weather.current.wind.speed|weather_speed }}
              <br />
              <br />
            </center>
          </td>
        </tr>
        <tr class="forecast_title">
          <td colspan="5"><div class="container"><b>Forecast</b></div></u></td>
        </td>
        <tr class="forecast">
          <td><strong>Today</strong></td>
          <td>{% if weather.forecast.0.image %}<img class="forecastimg" src="{{ weather.forecast.0.image }}"/>{% else %}&nbsp;{% endif %}</td>
          <td>{{ weather.forecast.0.day.type }}</td>
          <td class="high">{{ weather.forecast.0.high|weather_temp }}</td>
          <td class="low">{{ weather.forecast.0.low|weather_temp }}</td>
        </tr>
        <tr class="forecast">
          <td><strong>{{ weather.forecast.1.Day }}</strong></td>
          <td>{% if weather.forecast.1.image %}<img class="forecastimg" src="{{ weather.forecast.1.image }}"/>{% else %}&nbsp;{% endif %}</td>
          <td>{{ weather.forecast.1.day.type }}</td>
          <td class="high">{{ weather.forecast.1.high|weather_temp }}</td>
          <td class="low">{{ weather.forecast.1.low|weather_temp }}</td>
        </tr>
        <tr class="forecast">
          <td><strong>{{ weather.forecast.2.Day }}</strong></td>
          <td>{% if weather.forecast.2.image %}<img class="forecastimg" src="{{ weather.forecast.2.image }}"/>{% else %}&nbsp;{% endif %}</td>
          <td>{{ weather.forecast.2.day.type }}</td>
          <td class="high">{{ weather.forecast.2.high|weather_temp }}</td>
          <td class="low">{{ weather.forecast.2.low|weather_temp }}</td>
        </tr>
        <tr class="forecast">
          <td><strong>{{ weather.forecast.3.Day }}</strong></td>
          <td>{% if weather.forecast.3.image %}<img class="forecastimg" src="{{ weather.forecast.3.image }}"/>{% else %}&nbsp;{% endif %}</td>
          <td>{{ weather.forecast.3.day.type }}</td>
          <td class="high">{{ weather.forecast.3.high|weather_temp }}</td>
          <td class="low">{{ weather.forecast.3.low|weather_temp }}</td>
        </tr>

      {% endif %}

    </table>
  {% endif %}

</div>
