<div id="xbmc_control" class="module" data-module="xbmc_control">

  <div class="module_settings"><span>Settings</span></div>
  <div class="module_remove"><span>Remove</span></div>
  <h2>XBMC Control</h2>
  <div class="ctrlholder" >
    {% if version %}
      <a class="control" id="xbmc_suspend" >Suspend</a>
      <a class="control" id="xbmc_reboot" >Reboot</a>
      <a class="control" id="xbmc_poweroff" >Shutdown</a>
    {% else %}
      <a class="control" id="xbmc_poweron" >Power on</a><br><br>
    {% endif %}
  </div>
</div>
