{% if sickbeard %}

<div id="sickbeard" class="module{% if compact_view %} compact{% endif %}" data-module="sickbeard">
  <div class="module_settings"><span>Settings</span></div>
  <div class="module_remove"><span>Remove</span></div>

  <h2 class="title">{% block sickbeard_title %}Sickbeard{% endblock %}</h2>

  <ul class="menu">
    <li class="history" title="View History"><span>History</span></li>
    <li class="all" title="View all"><span>All</span></li>
    <li class="upcoming" title="View upcoming"><span>Upcoming</span></li>
  </ul>

  {% block sickbeard_content %}{% endblock %}

  <div class="powerholder">
    <a class="button add" title ="Add new show to Sickbeard">+</a>
    <a class="button log" title ="Sickbeard logs">Log</a>
    <a class="button restart" title ="Restart Sickbeard"><img src="{{ url_for('static', filename='images/reboot.png') }}" /></a>
    <a class="button power" title ="Shutdown Sickbeard"><img src="{{ url_for('static', filename='images/shutdown.png') }}" /></a>
  </div>
</div>

{% else %}

<div class="placeholder" data-module="sickbeard">
  <div class="module_settings"><span>Settings</span></div>
  <div class="module_remove"><span>Remove</span></div>
  <h2>Sickbeard</h2>
</div>

{% endif %}
